* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #272B33;
    font-family: sans-serif;
}

main {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 768px) {
    main {
        justify-content: center;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 15px;
        justify-content: center;
    }

    main > * {
        width: 100%;
        margin-bottom: 15px;
    }
}